Repository God-save-the-carrots/ft_transcendence, pull requests merged in 2024-02, with the labels that each got.

#65 fix/FE unmounted
  frontend/src/components/Nav.js
  frontend/src/components/pages/Game.js
  frontend/src/core/Component.js
  frontend/src/core/Router.js
  frontend/src/game/Scene.js
Labels: bug, game, frontend

#66 Feat/fe page setting
  frontend/src/components/pages/User.js
  frontend/src/components/pages/UserHistory.js
  frontend/src/components/pages/UserStatistics.js
Labels: frontend

#67 feat/GM tournament
  backend/game/Game.py
  backend/game/Lobby.py
  backend/game/NormalGame.py
  backend/game/Rule.py
  backend/game/Tournament.py
  backend/game/User.py
  backend/game/engine.py
  backend/game/phong/PhongGame.py
  backend/game/phong/logic.py
  backend/game/phong/map.py
  frontend/public/assets/close.png
  frontend/public/assets/normal-game.png
  frontend/public/assets/tournament.png
  frontend/src/game/GameObject.js
  frontend/src/game/Scene.js
  frontend/src/game/common/Button.js
  frontend/src/game/common/Icon.js
  frontend/src/game/common/LoadingCircle.js
  frontend/src/game/common/PointLight.js
  frontend/src/game/common/Text.js
  frontend/src/game/phong/Ball.js
  frontend/src/game/phong/PhongGame.js
  frontend/src/game/phong/Player.js
  frontend/src/game/phong/Wall.js
  frontend/src/game/preset.js
  frontend/src/threejs/fonts/helvetiker_regular.typeface.json
  frontend/src/threejs/geometries/TextGeometry.js
  frontend/src/threejs/loaders/FontLoader.js
  frontend/src/threejs/postprocessing/EffectComposer.js
  frontend/src/threejs/postprocessing/MaskPass.js
  frontend/src/threejs/postprocessing/OutputPass.js
  frontend/src/threejs/postprocessing/Pass.js
  frontend/src/threejs/postprocessing/RenderPass.js
  frontend/src/threejs/postprocessing/ShaderPass.js
  frontend/src/threejs/postprocessing/UnrealBloomPass.js
  frontend/src/threejs/shaders/CopyShader.js
  frontend/src/threejs/shaders/LuminosityHighPassShader.js
  frontend/src/threejs/shaders/OutputShader.js
  frontend/src/threejs/three.js
Labels: enhancement, game

#72 feat/GM broadcast progress
  .eslintrc.json
  backend/game/Game.py
  backend/game/Lobby.py
  backend/game/NormalGame.py
  backend/game/Rule.py
  backend/game/Tournament.py
  backend/game/pong/PongGame.py
  backend/game/pong/logic.py
  backend/game/pong/map.py
  backend/game/util.py
  frontend/src/components/pages/Game.js
  frontend/src/game/GameObject.js
  frontend/src/game/Scene.js
  frontend/src/game/common/Button.js
  frontend/src/game/common/Icon.js
  frontend/src/game/common/LoadingCircle.js
  frontend/src/game/common/PointLight.js
  frontend/src/game/common/Text.js
  frontend/src/game/phong/Ball.js
  frontend/src/game/phong/PhongGame.js
  frontend/src/game/phong/Player.js
  frontend/src/game/phong/Wall.js
  frontend/src/game/pong/Ball.js
  frontend/src/game/pong/Player.js
  frontend/src/game/pong/PongGame.js
  frontend/src/game/pong/Wall.js
  frontend/src/game/preset.js
Labels: game

#73 Feat/fe add user history api
  .gitignore
  frontend/public/assets/nav/42logo.png
  frontend/public/assets/nav/LIBFT.png
  frontend/public/assets/nav/crown.png
  frontend/public/assets/nav/game.png
  frontend/public/index.html
  frontend/src/components/pages/User.js
  frontend/src/components/pages/UserHistory.js
  frontend/src/components/pages/UserProfile.js
  frontend/src/components/pages/UserStatistics.js
Labels: frontend

#74 Feat/fe add new navbar
  frontend/public/assets/css/nav.css
  frontend/public/assets/css/userProfile.css
  frontend/public/assets/nav/Ellipse_24.png
  frontend/public/assets/nav/heart.png
  frontend/public/index.html
  frontend/src/components/Nav.js
Labels: frontend

#76 Feat/fe add asset
  frontend/public/assets/1.png
  frontend/public/assets/2.png
  frontend/public/assets/3.png
  frontend/public/assets/4.png
  frontend/public/assets/5.png
  frontend/public/assets/6.png
  frontend/public/assets/7.png
  frontend/public/assets/8.png
  frontend/public/assets/css/nav.css
  frontend/public/assets/font/RetroGaming.woff
  frontend/public/assets/font/RetroGaming.woff2
  frontend/public/assets/image/42logo.svg
  frontend/public/assets/image/carrot.svg
  frontend/public/assets/image/crown.png
  frontend/public/assets/image/crown.svg
  frontend/public/assets/image/down-arrow.png
  frontend/public/assets/image/down-arrow.svg
  frontend/public/assets/image/dummy.svg
  frontend/public/assets/image/game.png
  frontend/public/assets/image/game.svg
  frontend/public/assets/image/heart.png
  frontend/public/assets/image/heart.svg
  frontend/public/assets/image/jinam.svg
  frontend/public/assets/image/junmkang.svg
  frontend/public/assets/image/map.png
  frontend/public/assets/image/map.svg
  frontend/public/assets/image/minjungk.svg
  frontend/public/assets/image/monster.svg
  frontend/public/assets/image/star.png
  frontend/public/assets/image/star.svg
  frontend/public/assets/image/stat.png
  frontend/public/assets/image/stat.svg
  frontend/public/assets/image/yonshin.svg
  frontend/public/assets/nav/42logo.png
  frontend/public/assets/nav/Ellipse_24.png
  frontend/public/assets/nav/LIBFT.png
  frontend/public/assets/nav/crown.png
  frontend/public/assets/nav/game.png
  frontend/public/assets/nav/heart.png
  frontend/public/assets/profile/1.png
  frontend/public/assets/profile/2.png
  frontend/public/assets/profile/3.png
  frontend/public/assets/profile/4.png
  frontend/public/assets/profile/5.png
  frontend/public/assets/profile/6.png
  frontend/public/assets/profile/7.png
  frontend/public/assets/profile/8.png
  frontend/src/components/Nav.js
Labels: frontend

#80 feat: :sparkles: add css and html in js file
  frontend/public/assets/css/home.css
  frontend/public/assets/css/nav.css
  frontend/src/components/Nav.js
  frontend/src/components/pages/Home.js
Labels: frontend

#89 Fix/issue 87
  backend/accounts/views.py
  backend/api/management/commands/create_dummy_data.py
  backend/api/management/commands/create_dummy_tournament.py
  backend/pong/serializers.py
  backend/pong/views.py
  backend/score/views.py
Labels: backend

#88 Feat/fe user history html
  frontend/public/assets/css/Pagination.css
  frontend/public/assets/css/User.css
  frontend/public/assets/css/UserHistory.css
  frontend/public/assets/css/UserHistoryTournament.css
  frontend/src/components/pages/User.js
  frontend/src/components/pages/UserHistory.js
  frontend/src/components/pages/UserStatistics.js
Labels: frontend

#92 game bug fix
  backend/game/GameObject.py
  backend/game/User.py
  backend/game/pong/PongGame.py
  backend/game/pong/logic.py
  backend/game/pong/map.py
Labels: game, backend

#99 fix: broadcast info for front
  backend/game/Rule.py
  backend/game/Tournament.py
  backend/game/User.py
  backend/game/pong/PongGame.py
  frontend/src/game/pong/PongGame.js
Labels: bug, game, frontend

#98 feat: use 42 oauth #33
  .env.sample
  backend/accounts/serializers.py
  backend/accounts/views.py
  backend/core/settings.py
Labels: backend, frontend

#100 Fe logined user profile
  backend/core/settings.py
  frontend/public/assets/css/User.css
  frontend/public/assets/css/UserHistory.css
  frontend/public/assets/css/UserHistoryTournament.css
  frontend/public/assets/css/loginedUserProfile.css
  frontend/public/index.html
  frontend/src/components/pages/User.js
  frontend/src/components/pages/UserHistory.js
  frontend/src/components/pages/UserProfileLogined.js
  frontend/src/core/Component.js
Labels: frontend

#108 fix: :bug: dummy data가 제대로 들어가지 않는 버그가 있어 수정
  backend/api/management/commands/create_dummy_data.py
Labels: backend

#107 feat: :recycle: oauth를 적용하기전 user model 형식을 models.Model -> AbstractB…
  backend/accounts/admin.py
  backend/accounts/migrations/0001_initial.py
  backend/accounts/models.py
  backend/accounts/serializers.py
  backend/core/settings.py
  backend/pong/migrations/0001_initial.py
  backend/tools/create_superuser.py
Labels: backend

#109 Feat/gm loading screen
  backend/game/NormalGame.py
  frontend/src/game/Scene.js
  frontend/src/game/common/LoadingCircle.js
  frontend/src/game/common/Shutter.js
  frontend/src/game/pong/PongGame.js
Labels: enhancement, game, frontend

#94 feat: add scoreboard
  frontend/src/game/common/Text.js
  frontend/src/game/pong/PongGame.js
  frontend/src/game/pong/ScoreBoard.js
  frontend/src/threejs/fonts/helvetiker_bold.typeface.json
Labels: game, frontend

#111 feat/GM alias
  backend/game/Tournament.py
  backend/game/User.py
  backend/game/engine.py
  backend/game/pong/PongGame.py
  frontend/src/game/Scene.js
  frontend/src/game/pong/PongGame.js
Labels: enhancement, game, backend, frontend

#116 fix: ignore key input
  frontend/src/game/pong/PongGame.js
Labels: bug, game, frontend

#119 fix : history page 에 playtime 반영
  frontend/src/components/pages/UserHistory.js
Labels: frontend

#124 fix/GM disconnect
  backend/game/NormalGame.py
  frontend/src/game/Scene.js
Labels: bug, game

#128 chore/GM design detail
  backend/game/pong/PongGame.py
  frontend/src/game/Scene.js
  frontend/src/game/common/LoadingCircle.js
  frontend/src/game/common/Shutter.js
  frontend/src/game/pong/PongGame.js
  frontend/src/game/pong/ScoreBoard.js
  frontend/src/game/pong/Wall.js
  frontend/src/game/preset.js
Labels: game, frontend

#126 feat/https wss
  .gitignore
  Makefile
  compose-dev.yaml
  compose-prod.yaml
  create_certificate.sh
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/game/Scene.js
Labels: enhancement, Requirements

#132 refactor: env for front
  frontend/src/components/pages/Rank.js
  frontend/src/components/pages/UserHistory.js
  frontend/src/components/pages/UserProfile.js
  frontend/src/components/pages/UserProfileLogined.js
  frontend/src/components/pages/UserStatistics.js
  frontend/src/const.js
Labels: frontend

#137 feat: 유저의 게임 기록이 아직 없는 경우, 빈 페이지가 나오도록 함
  frontend/public/assets/css/UserStatistics.css
  frontend/src/components/pages/EmptyUserStatistics.js
  frontend/src/components/pages/NewUser.js
  frontend/src/components/pages/User.js
  frontend/src/components/pages/UserProfileLogined.js
Labels: frontend

#145 fix: prevent duplicated connection
  backend/game/Lobby.py
  backend/game/Rule.py
  backend/game/User.py
  backend/game/engine.py
Labels: bug, game

#147 fix/FE observer
  frontend/src/components/pages/Game.js
  frontend/src/components/pages/Home.js
  frontend/src/components/pages/Rank.js
  frontend/src/components/pages/Test.js
  frontend/src/components/pages/User.js
  frontend/src/core/Component.js
  frontend/src/core/Router.js
  frontend/src/core/observer.js
Labels: frontend

#149 fix: add rating to user profile
  backend/accounts/serializers.py
Labels: backend

#148 feat: :sparkles: 'user/<intra_id>/' - lang_type instance add
  backend/accounts/migrations/0002_profile_lang_type.py
  backend/accounts/models.py
  backend/accounts/serializers.py
  backend/accounts/views.py
Labels: backend

#142 feat: game auth
  backend/game/User.py
  backend/game/engine.py
  backend/pong/views.py
  frontend/src/game/Scene.js
  frontend/src/game/pong/PongGame.js
Labels: enhancement, game

#150 fix: :ambulance: 누락된 lang_type 추가
  backend/accounts/serializers.py
Labels: bug, backend

#151 Feat/fe login
  backend/api/views.py
  frontend/public/assets/css/nav.css
  frontend/src/components/Nav.js
  frontend/src/components/pages/Auth.js
  frontend/src/components/pages/Home.js
  frontend/src/components/pages/NewUser.js
  frontend/src/components/pages/Rank.js
  frontend/src/components/pages/User.js
  frontend/src/components/pages/UserHistory.js
  frontend/src/components/pages/UserProfile.js
  frontend/src/components/pages/UserProfileLogined.js
  frontend/src/components/pages/UserStatistics.js
  frontend/src/const.js
  frontend/src/core/Cookie.js
  frontend/src/core/Utils.js
Labels: frontend

#153 refactor: :recycle: 수정 요청으로 인해 tokenVerify가 항상 201을 반환하도록 변경
  backend/api/views.py
Labels: backend

#143 Feat/os issue 46
  .env.sample
  .gitignore
  backend/core/settings.py
  backend/core/urls.py
  backend/requirements.txt
  compose-dev.yaml
  create_certificate.sh
  devops/grafana/Dockerfile
  devops/grafana/dashboards/Prometheus.json
  devops/grafana/src/dashboards.yaml
  devops/grafana/src/datasources.yaml
  devops/grafana/src/entrypoint.sh
  devops/grafana/src/grafana.ini
  devops/prometheus/alert_rules.yml
  devops/prometheus/prometheus.yml
  devops/prometheus/web-config.yml
Labels: devOps

#155 refactor/FE code review
  frontend/src/Lang.js
  frontend/src/components/Nav.js
  frontend/src/components/pages/Auth.js
  frontend/src/components/pages/EmptyUserStatistics.js
  frontend/src/components/pages/ErrorPage.js
  frontend/src/components/pages/Game.js
  frontend/src/components/pages/GameAlias.js
  frontend/src/components/pages/GameRound.js
  frontend/src/components/pages/Home.js
  frontend/src/components/pages/NewUser.js
  frontend/src/components/pages/Rank.js
  frontend/src/components/pages/Test.js
  frontend/src/components/pages/User.js
  frontend/src/components/pages/UserHistory.js
  frontend/src/components/pages/UserProfile.js
  frontend/src/components/pages/UserProfileLogined.js
  frontend/src/components/pages/UserStatistics.js
  frontend/src/components/test/Test_app1.js
  frontend/src/components/test/Test_app2.js
  frontend/src/components/test/Test_app3.js
  frontend/src/components/test/Test_app4.js
  frontend/src/components/test/Test_app5.js
  frontend/src/connect.js
  frontend/src/core/Component.js
  frontend/src/core/Router.js
  frontend/src/core/Utils.js
  frontend/src/game/Scene.js
  frontend/src/game/pong/PongGame.js
Labels: bug, frontend

#157 fix: routes 오류 수정
  frontend/src/components/Nav.js
  frontend/src/core/Router.js
  frontend/src/core/Utils.js
Labels: bug, frontend

#159 test: delete dummy
  backend/migrations.sh
Labels: backend

#160 feat: solve TODO
  backend/core/asgi.py
  backend/game/Tournament.py
  compose-dev.yaml
  compose-prod.yaml
  frontend/nginx.conf
  frontend/src/components/pages/Rank.js
  frontend/src/connect.js
  frontend/src/game/GameObject.js
Labels: documentation

#166 feat: :zap: csrf off..
  backend/core/settings.py
Labels: backend

#167 feat: multi host
  backend/accounts/views.py
  backend/core/settings.py
  frontend/nginx.conf
Labels: backend

#170 fix: restore game component
  frontend/src/components/pages/Game.js
  frontend/src/core/Router.js
  frontend/src/game/Scene.js
Labels: game, frontend

#172 fix: :bug: rating 반영안되던거 수정.
  backend/pong/views.py
Labels: bug, backend

#174 chore: block backend
  compose-dev.yaml
  devops/prometheus/prometheus.yml
Labels: backend

#175 chore: rm console.log
  frontend/src/components/pages/Game.js
Labels: frontend

#177 Feat/elk logstash syslog nginx#45
  compose-dev.yaml
  elk/elk.yaml
  elk/logstash/pipeline/logstash.conf
  frontend/nginx.conf
Labels: devOps
